@import "./variables.scss";

#nav-principal{
    background:$deepRed;
    ul{
        width:100%;
    }

    li{
        float:left;
        width:(100% /5);
    }

    a{
        color: $almostWhite;
        text-orientation:none;
        text-decoration:none;
        padding:.1rem;
        display:block;
        text-align:center;
        &:hover{
            background: lighten($deepRed,10);
        }
    }

    p{
        text-orientation:none;
        text-decoration:none;
        padding:.1rem;
        display:block;
        text-align:center;
    }

    @include clearFix;
}



