#nav-principal {
  background: #86042d;
}
#nav-principal ul {
  width: 100%;
}
#nav-principal li {
  float: left;
  width: 20%;
}
#nav-principal a {
  color: #f8f9fb;
  text-orientation: none;
  text-decoration: none;
  padding: 0.1rem;
  display: block;
  text-align: center;
}
#nav-principal a:hover {
  background: #b8053e;
}
#nav-principal p {
  text-orientation: none;
  text-decoration: none;
  padding: 0.1rem;
  display: block;
  text-align: center;
}